@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /*src: url(MaterialIcons-Regular.eot);*/
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("./fonts/material-icons/MaterialIcons-Regular.woff2") format('woff2'), url("/css/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'), url(..//css/fonts/material-icons/MaterialIcons-Regular.ttf") format('truetype');
}

// .material-icons {
//     font-family: 'Material Icons';
//     font-weight: normal;
//     font-style: normal;
//     font-size: 1.5rem;
//     /*24px;  Preferred icon size */
//     display: inline-block;
//     //line-height: 1;
//     text-transform: none;
//     letter-spacing: normal;
//     word-wrap: normal;
//     white-space: nowrap;
//     direction: ltr;
//     /* Support for all WebKit browsers. */
//     -webkit-font-smoothing: antialiased;
//     /* Support for Safari and Chrome. */
//     text-rendering: optimizeLegibility;
//     /* Support for Firefox. */
//     -moz-osx-font-smoothing: grayscale;
//     /* Support for IE. */
//     font-feature-settings: 'liga';
// }


// @font-face {
//     font-family: "remixicon";
//     src: url('./fonts/Remixicon/remixicon.eot?t=1590207869815');
//     /* IE9*/
//     src: url('./fonts/Remixicon/remixicon.eot?t=1590207869815#iefix') format('embedded-opentype'),
//         /* IE6-IE8 */
//         url("./fonts/Remixicon/remixicon.woff2?t=1590207869815") format("woff2"),
//         url("./fonts/Remixicon/remixicon.woff?t=1590207869815") format("woff"),
//         url('./fonts/Remixicon/remixicon.ttf?t=1590207869815') format('truetype'),
//         /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
//         url('./fonts/Remixicon/remixicon.svg?t=1590207869815#remixicon') format('svg');
//     /* iOS 4.1- */
//     font-display: swap;
// }


.my-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


.my-icons {
    &.add:before {
        content: "\E145";
    }

    &.add_circle_outline:before {
        content: "\ea10";
    }

    &.arrow_down:before {
        content: "\ea4d";
    }

    &.arrow_left:before {
        content: "\E5CB";
    }

    &.arrow_right:before {
        content: "\E5CC";
    }

    &.arrow_sort_down:before {
        content: "\E5C5";
    }

    &.arrow_sort_up:before {
        content: "\E5C7";
    }

    &.arrow_up:before {
        content: "\0000";
    }

    &.back:before {
        content: "\0000";
    }

    &.check:before {
        content: "\0000";
    }

    &.clear:before {
        content: "\E14C";
    }

    &.close:before {
        content: "\E14C";
    }

    &.create:before {
        content: "\E145";
    }

    &.delete:before {
        content: "\E92B";
    }

    &.done:before {
        content: "\0000";
    }

    &.edit:before {
        content: "\0000";
    }

    &.error:before {
        content: "\E001";
    }

    &.filter:before {
        content: "\E152";
    }

    &.menu:before {
        content: "\E5D2";
    }

    &.new:before {
        content: "\E89C";
    }

    &.next:before {
        content: "\E5CC";
    }

    &.previous:before {
        content: "\E5CB";
    }

    &.print:before {
        content: "\0000";
    }

    &.remove:before {
        content: "\0000";
    }

    &.save:before {
        content: "\0000";
    }

    &.search:before {
        content: "\E8B6";
    }

    &.sync:before {
        content: "\E627";
    }

}