/* -------- TOP MENU START ----------- */

/*#region TopMenu */

$topMenuHeight: 3.5rem;

.topMenu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* z-index: 1001; */
    background-color: #555;
    min-height: $topMenuHeight;

    display: inline-grid;
    grid-template-columns: 40px 350px auto 50px 240px;


    .AlignRight {
        float: right;

        .submenu-content {
            right: 0;
        }
    }

    // .trigger i {
    //     color: #fff;
    //     float: left;
    //     cursor: pointer;
    //     line-height: 2.3rem;
    // }

    #navSideMenuTrigger {
        color: #fff;
        cursor: pointer;
        line-height: 1rem;
        //padding: .1rem 1rem 0 1rem;

        align-self: center;
        justify-self: center;
    }

}

.submenu a {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    // overflow: hidden;
}

.submenu:hover {
    background-color: #ff0000;
}

.submenu {
    float: left;
    padding: 0.5rem 0;
    color: white;

    /*for non links*/


    a {
        display: inline-block;
        color: white;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        padding: .5rem 1rem;
    }

    a:hover {
        text-decoration: underline;
    }


}

//.topMenu .submenu {}

.submenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: $topMenuHeight;
    z-index: 100;
    list-style-type: none;


    li {
        float: none;
        padding: 0;
    }

    a {
        color: black;
        padding: .5rem 1rem;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    a:hover {
        background-color: #555;
        color: white;
    }
}

.submenu.show .submenu-content {
    display: block;
}

.my-top-menu-right {
    float: right;
}



/*#endregion */







/* -------- SIDE MENU START ----------- */
/*#region SideMenu */
.sideMenu {
    position: fixed;
    //z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    margin-top: $topMenuHeight;
    width: 0px;
    overflow-x: hidden;




    ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        overflow: auto;

        -webkit-box-shadow: inset -9px 0px 20px -10px rgba(0, 0, 0, 0.33);
        -moz-box-shadow: inset -9px 0px 20px -10px rgba(0, 0, 0, 0.33);
        box-shadow: inset -9px 0px 20px -10px rgba(0, 0, 0, 0.33);
    }

    li a {
        display: block;
        color: #000;
        padding: .5rem 1rem;
        text-decoration: none;
    }

    li a.active {
        background-color: #4CAF50;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    .sideMenu-submenu i {
        padding: 0;
        float: right;
    }

    .submenu-content {
        position: absolute;
        background-color: #f9f9f9;
        width: 10rem;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        list-style-type: none;

        li:first-of-type {
            cursor: pointer;
        }

    }

    .submenu-content :first-child a {
        padding-left: 0;
    }

    .submenu-content a {
        padding-left: 1.5rem;
    }

    .submenu-content :first-child i {
        float: left;
        padding: 0;
    }

}

/*#endregion */